Repository iodigital-com/io-technology, pull requests merged in 2022-09, with the labels that each got.

#94 Adding Contrubution for first-glance-at-azure-container-apps
  data/authors/owin-gruters.md
  data/blog/first-glance-at-azure-container-apps.md
  public/articles/first-glance-at-azure-container-apps/containerapps.png
  public/articles/first-glance-at-azure-container-apps/serviceconnections.png
  public/authors/owin-gruters.jpg
Labels: article

#96 fix(hero-image): add object fit to prevent stretching
  layouts/PostLayout.js
  layouts/SerieLayout.js
Labels: enhancement

#77 feat(article): add component library series article 4
  data/blog/how-do-i-build-a-component-library/ci-cd-hosting.md
Labels: article

#83 feat(article): add match media article
  data/blog/match-media.md
  public/articles/match-media/match-media.jpg
Labels: article

#100 WIP: Feat Article: "the current state of ai for content creators"
  data/authors/vince-liem.md
  data/blog/open-ai/the-current-state-of-ai-for-content-creators.mdx
  data/blog/open-ai/what-benefits-can-natural-language-ai-offer-developers.mdx
  data/series/open-ai.md
  public/articles/open-ai/header.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/a-device-with-levers.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/a-painter-freestyle-on-the-wall.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/an-abstract-combination-of-shapes.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/content-creator-taking-notes.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle-cat.jpeg
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle-consciousness.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle-hope.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle-kitten.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle-man-with-cat.png
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/dalle.jpeg
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/header.jpeg
  public/articles/open-ai/the-current-state-of-ai-for-content-creators/img.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/copilot-prediction-user-delete.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-blog-prompt.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-blog-structure.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-playground-settings.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-precision-example.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-self-write-1.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-self-write-2.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/gpt-3-self-write-3.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/header.jpeg
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/keyboard-prediction.png
  public/articles/open-ai/what-benefits-can-natural-language-ai-offer-developers/translation-example.png
  public/articles/what-benefits-can-natural-language-ai-offer-developers/header.png
  public/authors/vince-liem.jpeg
  public/authors/vince-liem.png
Labels: help wanted, article

#72 Added a technical introduction to sso
  data/authors/daan-beulen.md
  data/blog/a-deep-dive-into-single-sing-on/a-technical-introduction-to-sso.md
  data/blog/a-deep-dive-into-single-sing-on/an-overview-of-sso-products.md
  data/blog/a-deep-dive-into-single-sing-on/sso-in-action.md
  data/series/a-deep-dive-into-single-sing-on.md
  public/articles/a-technical-introduction-to-sso/authorization-flow.png
  public/articles/a-technical-introduction-to-sso/client-credentials.png
  public/articles/a-technical-introduction-to-sso/direct-access.png
  public/articles/a-technical-introduction-to-sso/implicit-flow.png
  public/articles/a-technical-introduction-to-sso/oauth-logo.png
  public/articles/a-technical-introduction-to-sso/openid-connect-logo.png
  public/articles/a-technical-introduction-to-sso/saml-logo.png
  public/articles/a-technical-introduction-to-sso/sso-flow.png
  public/articles/an-overview-of-sso-products/amazon-cognito-logo.png
  public/articles/an-overview-of-sso-products/auth0-logo.png
  public/articles/an-overview-of-sso-products/keycloak-logo.png
  public/articles/an-overview-of-sso-products/okta-logo.jpg
  public/articles/an-overview-of-sso-products/ping-identity-logo.png
  public/articles/sso-in-action/b2b.png
  public/articles/sso-in-action/b2c.png
  public/articles/sso-in-action/b2e.png
  public/articles/sso-in-action/startup.png
  public/authors/daan-beulen.jpg
Labels: article
